/*
* This file contains the common settings of this theme
*/

/*** General minxins include - Start ***/

// Generate spaces classes
@include make-space($space-values, $space-prefixes, $grid-breakpoints-custom);

/*** General minxins include - End ***/

/*** General settings - Start ***/

// Default styles
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $base-font-color;
	background-color: $base-background-color;
	overflow-x: hidden;
}

.d-none-important{
    display: none !important
}

// Titles styles
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $title-font-family;
	font-weight: normal;
}

strong {
	font-family: $font-bold;
	font-weight: 700;
}


// Links styles
a {
	color: $black;
	text-decoration: none;
	@include makeTransition("all", ".5s", "ease");
	&:hover, &:focus {
		text-decoration: none;
		@include makeTransition("all", ".5s", "ease");
	}
	&.glyphicon:hover, &.glyphicon:focus {font-family: "Glyphicons Halflings" !important;}
	&.fa:hover, &.fa:focus{font-family:'FontAwesome' !important;}
}

// Lists styles
ul {
	padding-left: 1em;
}

// Cookie Notice Styles
#cookie-notice .button.bootstrap{
	text-shadow: none;
	color: #000;
	background-color: #fff;
	background-image: none;
	box-shadow: none;
	&:hover, &:active, &:focus{
			color: #fff;
			background-color: transparent;
			border: 1px solid #fff;
	}
}

// Bootstrap navbar and WP Admin bar issues fix
/*body.admin-bar .navbar {
	position:fixed;
	z-index: 1000;
	@media #{makeMQ("", "782")} {top: 46px;}
	@media #{makeMQ("783", "")} {top: 32px;}
}*/

// Recaptcha responsive fix
/*#rc-imageselect, 
.g-recaptcha {
	@media (max-width: 480px) {
			transform:scale(.95);
			transform-origin:0 0;
			-webkit-transform:scale(.95);
			-webkit-transform-origin:0 0;
			-ms-transform:scale(.95);
			-ms-transform-origin:0 0;
			-webkit-transform:scale(.95);
			-webkit-transform-origin:0 0;
	}
}*/

/*** General settings - End ***/


/*** Default theme classes - Start ***/

// Color classes
.white {color: $white;}
.black {color: $black;}

// Background Color classes
.bc-white {background-color: $white;}
.bc-black {background-color: $black;}

/*** Default theme classes - Start ***/