/*
* This file includes the fonts for the site
*/
/*
* This file includes the fonts for the site
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-regular-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-bold-webfont.eot');
    src: url('../fonts/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-bold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'custom-arrows';
  src: url('../fonts/custom-arrows/custom-arrows.eot?17393641');
  src: url('../fonts/custom-arrows/custom-arrows.eot?17393641#iefix') format('embedded-opentype'),
       url('../fonts/custom-arrows/custom-arrows.woff2?17393641') format('woff2'),
       url('../fonts/custom-arrows/custom-arrows.woff?17393641') format('woff'),
       url('../fonts/custom-arrows/custom-arrows.ttf?17393641') format('truetype'),
       url('../fonts/custom-arrows/custom-arrows.svg?17393641#custom-arrows') format('svg');
  font-weight: normal;
  font-style: normal;
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-arrows";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-arrow-left:before { content: '\e800'; }
.icon-arrow-left-light:before { content: '\e801'; }
.icon-arrow-right-light:before { content: '\e802'; }
.icon-arrow-right:before { content: '\e803'; }