footer{
    .footer-content{
        padding: 0 120px 0 120px;
        @include media-breakpoint-down(992){padding: 0 90px 0 90px;}
        @include media-breakpoint-down(768){padding: 0 60px 0 60px;}
        @include media-breakpoint-down(768){padding: 0;}
    }
    .content-desktop{
        height: 115px;
        font-size: 14px;
        font-weight: 600;
        color: black;
        @include media-breakpoint-down(576){
            padding-top: 15px;
            padding-bottom: 15px;
            flex-direction: column;
            height: auto;
        }
        .social-icons{
            margin: 0;
            position: absolute;
            left: 120px;
            z-index: 20;
            @include media-breakpoint-down(992){
                position: relative;
                left: 0;
            }
            a{
                &:hover,
                &:active,
                &:focus{color: $red;}
            }
            i{
                margin-right: 10px;
                font-size: 25px;
                @include media-breakpoint-down(1450){
                    margin-right: 7px;
                    font-size: 21px;
                }
                &:hover,
                &:active,
                &:focus{color: $red;}
            }
        }
        .btn-box{
            margin: 0;
            position: absolute;
            right: 120px;
            @include media-breakpoint-between(992,1200){
                .textwidget{
                    width: 120px;
                    border: 1px solid black;
                    p{
                        text-align: center;
                        padding: 10px 0;
                        a{
                            width: 100px !important;
                            white-space: normal;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }
            @include media-breakpoint-down(992){
                right: 90px;
                padding:5px 10px;
                border: 1px solid black;
            }
            @include media-breakpoint-down(768){right: 60px;}
            a{
                padding:5px 8px 5px 8px;
                text-transform: uppercase;
                border:1px solid black;
                white-space: nowrap;
                letter-spacing: 1px;
                @include media-breakpoint-down(992){
                    text-align: center;
                    white-space: normal;
                    border: none;
                    padding: 0;
                }
                &:hover,
                &:active,
                &:focus{
                    background-color: black;
                    color: white;
                }
            }
        }
        .container{
            .row{
                position: relative;
                div{
                    @include media-breakpoint-down(1385){white-space: normal;}
                    a{
                        &:hover,
                        &:active,
                        &:focus{
                            text-decoration: underline;
                            color: black;
                        }
                    }
                }
                .col-left{
                    @include media-breakpoint-up(992){
                        padding-right: 60px;
                        margin-left: 120px;
                    }
                    @include media-breakpoint-up(1200){
                        padding-right: 120px;
                        margin-left: 120px;
                        margin-right: -60px;
                    }
                    @include media-breakpoint-up(1385){padding: 0;margin-right:0}
                    .textwidget{max-width: 100%;}
                }
                .col-center{
                    @include media-breakpoint-up(992){
                        padding-right: 10px;
                        margin-left: -70px;
                        padding-left: 30px;
                    }
                    @include media-breakpoint-up(1200){
                        margin-left: -60px;
                        padding-right: 0px;
                        padding-left: 0;
                    }
                    @include media-breakpoint-between(1200, 1280){padding-left: 60px;}
                    @include media-breakpoint-up(1385){padding: 0;margin:0}
                    a{
                        white-space: nowrap;
                        &:first-child{
                            padding-right: 6px;
                            margin-right: 6px;
                            border-right: 1px solid black;
                            @include media-breakpoint-down(1280){
                                border: none;
                                display: table;
                            }
                        }
                    }
                }
                .col-right{
                    @include media-breakpoint-up(992){margin-left: -10px;}
                    @include media-breakpoint-up(1200){padding-left: 15px;margin:0}
                    @include media-breakpoint-up(1385){padding: 0;margin:0}
                }
            }
        }
        
    }
    
    .content-mobile{
        padding-top: 30px;
        padding-bottom: 30px;
        .footer-box{
            .btn-box{
                a{
                    &:first-child{
                        margin-bottom: 30px;
                        padding:10px 50px;
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                        border:1px solid black;
                        white-space: nowrap;
                        letter-spacing: 1px;
                        text-decoration: none;
                        @include media-breakpoint-down(400){padding:10px 10px;}
                        &:hover,
                        &:active,
                        &:focus{
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
            a{
                &:hover,
                &:active,
                &:focus{
                    text-decoration: underline;
                    color: black;
                }
            }
            .col-center{
                a{
                    &:first-child{
                        padding-right: 6px;
                        margin-right: 6px;
                        border-right: 1px solid black;
                    }
                }
            }
            
        }
        .col-left,
        .col-right,
        .col-center{padding: 0;}
        .social-icons{
            margin-top: 30px;
            i{margin-right: 15px;}
        }
    }
    .textwidget p{margin: 0;}
    .credits{
        height: 38px;
        background-color: black;
        color: white;
        font-size: 14px;
        font-weight: 400;
        div{
            height: auto;
            p{margin: 0;}
            a{
                color: white;
                &:last-child{white-space: nowrap;}
                &:hover,
                &:active,
                &:focus{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}


.back-to-top{
    
    position: fixed;
    z-index: 999;
    display: block;
    width: 45px;
    height: 45px;
    color: black;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    
    
    



    &::after {
        content: '';
        display: inline-block;
        margin-top: 17px;
        width: 1em;
        height: 1em;
        border-top: 0.3em solid white;
        border-right: 0.3em solid white;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        
    }
    
    
}
.show{
    display: block !important;
    opacity: 1;
    visibility: visible;
}