/*
 * This file contains the buttons styles
 */
.btn {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
	padding: 15px 69px;
}
.btn-black{
    padding:5px;
    height: 60px;
    width: 165px;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border: 2px solid black;
    text-transform: none;
    letter-spacing: 0;
    &:hover,
    &:focus,
    &:active{
        color: white;
        background-color: black;
    }
}
.square-btn{
    height: 69px;
    width: 69px;
    display: block;
}