.header{
    margin-bottom: 0px;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
    .navbar-custom {
        height: 110px;
        .navbar-brand {
            margin: 0;
            padding: 0;
            .navbar-brand-img {
                display: inline-block;
                max-width: 100%;
                width: 130px;
                height: auto;
            }
        }
        .navbar-toggler {
            margin-left:80px;
            padding: 0;
            width: 40px;
            height: 40px;
            color: black;
            border: 2px solid white;
            border-radius: 0;
            @include media-breakpoint-down(992) {margin-left:50px;}
            @include media-breakpoint-down(768) {margin-left:20px;}
            @include media-breakpoint-down(575) {
                margin-left:0px;
                width: 30px;
                height:30px;
            }
            &:hover,
            &:focus,
            &:active{
                box-shadow: none;
                outline: 0;

                .navbar-toggler-icon{
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237,81,37, 1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }
            .navbar-toggler-icon {
                width: 25px;
                height: 25px;
                @include media-breakpoint-down(575) {
                    width: 20px;
                    height:20px;
                }
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,42,42, 1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }
        .navbar-closer {
            padding: 0;
            position: absolute;
            top: 37px;
            background-color: transparent;
            border: none;
            box-shadow: none;
            &:hover,
            &:focus,
            &:active {cursor: pointer;}
            @include media-breakpoint-down(575){top: 42px;}
        }
        .navbar-side {
            padding: 120px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: block;
            height: 100%;
            background-color: $orange;
            border: none;
            opacity: 0;
            visibility: hidden;
            overflow-y: scroll;
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
            @include makeTransition("all", ".3s", "ease");
            @include media-breakpoint-down(992) {padding-left: 90px;}
            @include media-breakpoint-down(768) {padding-left: 60px;}
            @include media-breakpoint-down(575) {
                width: 90%;
                padding-top: 120px;
                padding-left: 35px;
                padding-right: 75px;
            }
            @include media-breakpoint-down(400) {
                padding-right: 30px;
            }
            @include media-breakpoint-up(576) {width: 85%;}
            @include media-breakpoint-up(768) {width: 500px;}
            &.reveal {
                z-index:9999;
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                transform: translateX(0%);
                @include media-breakpoint-down(575) {width: 100%;}
                @include makeTransition("all", ".3s", "ease");
            }
            .social-icons{
                padding-left: 50px;
                a{
                    &:hover{color: white}
                    i{
                        margin-right: 10px;
                        &:focus,
                        &:hover,
                        &:active{
                            color:white;
                            cursor: pointer;
                        }
                    }
                }
                
            }
            .second-menu{
                border-top: 2px solid black;
                padding-top: 15px !important;
            }
            .navbar-side-menu {
                padding: 0;
                padding-left: 40px;
                display: block;
                list-style: none;
                background-color: transparent;
                .menu-item {
                    .dropdown-toggle {
                        &:after {
                            content: unset;
                        }
                    }
                }
                > .nav-item {
                    display: block;
                    margin: 0;
                    padding: 0;
                    min-width:100px;
                    > .nav-link {
                        position: relative;
                        display: block;
                        font-size: 30px;
                        font-weight: 700;
                        padding: 0 10px 0 10px;
                        letter-spacing:2px;
                        color: white;
                        &:hover,
                        &:focus,
                        &:active {
                            color: black;
                            &::before {
                                width: 30px;
                                @include makeTransition("width", ".3s", "ease");
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -40px;
                            bottom: 0;
                            display: block;
                            height: 2px;
                            width: 0;
                            background-color: black;
                            margin: auto;
                            @include makeTransition("width", ".3s", "ease");
                        }
                        &.active {
                            font-weight: 700;
                            color: black;
                            &::before {width: 30px;}
                        }
                    }
                }
                &.side-menu-min {
                    border-top: 2px solid black;
                    padding-top: 20px;
                    > .nav-item > .nav-link {
                        font-size: 20px;
                        text-transform: none;
                        padding: 2px 10px;
                    }
                }
                &.side-menu-button {
                    margin-bottom: 0;
                    padding-left: 80px;
                    padding-bottom:20px;
                    > .nav-item {
                        > .nav-link {
                            display: inline-block;
                            max-width: 160px;
                            width: 100%;
                            text-align: center;
                            word-wrap: break-word;
                            white-space: normal;
                            border: 2px solid black;
                            border-radius: 0;
                            &::before {
                                content: '\e802';
                                position: absolute;
                                top: 0;
                                left: -80px;
                                bottom: 0;
                                font-family: "rocchedeimanzoni";
                                font-style: normal;
                                font-weight: normal;
                                speak: none;
                                display: inline-block;
                                text-decoration: inherit;
                                width: 50px;
                                height: 20px;
                                color: black;
                                text-align: center;
                                font-variant: normal;
                                background-color: transparent;
                                font-size: 15px;
                                text-transform: none;
                                line-height: 1.5em;
                                margin: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                            }
                            &:hover,
                            &:focus,
                            &:active {
                                color: white;
                                background-color: black;
                                border-color: transparent;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    position: static;
                    top: auto;
                    left: auto;
                    float: none;
                    margin: 0;
                    border: none;
                    padding: 0;
                    padding-left: 20px;
                    background-color: $orange;
                    > a {
                        position: relative;
                        display: block;
                        font-size: 30px;
                        font-weight: 700;
                        padding: 2px 10px;
                        letter-spacing:2px;
                        background-color: $orange;
                        color: white;
                        &:hover,
                        &:focus,
                        &:active {
                            color: black;
                            background-color: transparent;
                            &::before {
                                width: 20px;
                                @include makeTransition("width", ".3s", "ease");
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -20px;
                            bottom: 0;
                            display: block;
                            height: 2px;
                            width: 0;
                            background-color: black;
                            margin: auto;
                            @include makeTransition("width", ".3s", "ease");
                        }
                    }
                }
            }
        }
    }
    .language-chooser {
        color: black;
        @include media-breakpoint-down(576) {padding: 0;}
        #language {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
            @include media-breakpoint-down(767) {font-size: 10px;}    
            @include media-breakpoint-down(767) {}
            @include media-breakpoint-up(768) {
                margin-left: 15px;
                margin-right: 15px;
            }
            li {
                @include media-breakpoint-down(767) {
                    display: inline-block;
                    float: right;
                }
                @include media-breakpoint-up(768) {
                    display: block;
                    float: right;
                }
                @include media-breakpoint-up(992) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                &:first-child > a {
                    border: none; 
                }
                &:first-child{
                    margin-right: 65px;
                    @include media-breakpoint-down(992) {margin-right: 45px;}
                    @include media-breakpoint-down(756) {margin-right: 25px;}
                    @include media-breakpoint-down(576) {margin-right: 0;}
                }
                &:last-child{
                    margin-right: 7px;
                }
                &.active > a {
                    color: black;
                    border-bottom: 2px solid $red;
                }
                > a {
                    padding: 2px;
                    display: block;
                    color: black; 
                    line-height: 1;
                    text-transform: uppercase;
                    @include media-breakpoint-down(575){font-size: $base-font-size;}
                    @include media-breakpoint-up(576){font-size: $base-font-size - 5;}
                    @include media-breakpoint-up(768){font-size: $base-font-size - 5;}
                    @include media-breakpoint-up(992){font-size: $base-font-size - 4;}
                    @include media-breakpoint-up(1200){font-size: $base-font-size;}
                    &:hover,
                    &:focus,
                    &:active {
                        color: black;
                    }
                }
                
            }
        }
    }
    .overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        background-color: rgba(black, .6);
        z-index: 990;
    }
}