/*
 * Color variables
 */
$white: #fff;
$black: #000;

$orange: #eb5d32;

$red: #ed5125;
$blue: #007bc2;
$yellow: #f9b000;

$lightgrey: #e8e8e8;
//$grey: #bebfbe;
$grey: #838584;
/*
 *  Font variables
 */
$font-thin: 'Open Sans', Helvetica, sans-serif;
$font-light: 'Open Sans', Helvetica, sans-serif;
$font-regular: 'Open Sans', Helvetica, sans-serif;
$font-semibold: 'Open Sans', Helvetica, sans-serif;
$font-bold: 'Open Sans', Helvetica, sans-serif;
$font-extrabold: 'Open Sans', Helvetica, sans-serif;

$font-serif: "", Georgia, serif;

$base-font-size: 16px;
$base-font-color: $black;
$base-font-family: $font-light;

$title-font-color: $black;
$title-font-family: $font-light;

/*
 * Navbar variables
 */
$navbar-height: 75px;
$navbar-font-family: $base-font-family;
$navbar-font-size: 14px;
$navbar-font-color: $black;
$navbar-bc-color: $white;

/*
 * Carousel e top image variables
 */
$header-image-height: 480px;

/*
 * Footer variables
 */
$footer-color: $black;

/*
 *  Common variables
 */
$base-margin-value: 15px;
$base-padding-value: 15px;
$base-background-color: $white;