/*
Theme Name: Officine Immaginazione
Theme URI: http://www.officineimmaginazione.com/wordpress-themes
Description: OfficineImmaginazione is a Wordpress theme based on Bootstrap, FontAwesome, ecc.
Version: 1.0.0
Author: Officine Immaginazione
Author URI: http://www.officineimmaginazione.com
License: All right is reserved
*/

/* Login */
.login h1 a {width: 320px; background-size:contain; background-image: url('../img/logo.png')}

/* Common */
label {font-weight: normal !important;}
.tab-content {padding-top: 15px;}
hr.dotted {border-style: dotted; border-color: #aaa;}
.dotted-left {border-left: 1px dotted #aaa;}
.form-control {border-radius: 0 !important;}
.img-responsive.center {margin: auto;}

.tab-pane .form-group .btn {margin-top: 15px;}

.m-t-b-10 {margin-top: 10px; margin-bottom: 10px;}
.m-b-10 {margin-bottom: 10px;}

.hidden-ns {display: none; visibility: hidden;}