/*
 * This file contains classes and ids commonly used in Officine Immaginazione's themes
 */

// Text right responsive set the text-align on right only on pc view
.text-right-responsive{
  @media (min-width: 768px) {text-align: right;}
}

// When text-center is set also the images with img-responsive class will be centered
.text-center .img-responsive {margin-left:auto; margin-right:auto;}

// Resolves a ContactForm7's bug. Override the styles of all checkbox
input[type=checkbox] {
  width:13px; 
  height:13px;
}

// Sets width of the element to 100%
.full-width {width: 100%;}

// Sets the element like block element
.display-block{display: block;}

// Denies textarea to change its width outer than 100%
textarea {max-width: 100%;}
