main{
    margin-top: 110px;
}

.homepage{
    margin-left: 120px;
    margin-right: 120px;
    background-color: $lightgrey;
    position: relative;
    
    @include media-breakpoint-up(992){
        @media (max-height: 600px) {
            height: auto !important;
            overflow: scroll;
        }
    }
    @include media-breakpoint-down(992){
        margin-left: 90px;
        margin-right: 90px;
    }
    @include media-breakpoint-down(768){
        margin-left: 60px;
        margin-right: 60px;
    }
    @include media-breakpoint-down(576){
        margin-left: 0;
        margin-right: 0;
    }
    .banner-image{
        position: absolute;
        padding-top: 30px;
        padding-bottom: 30px;
        img{width: auto;}
    }
    .homepage-content{
        height: 100%;
        padding-top: 45px;
        padding-bottom: 45px;
        @include media-breakpoint-down(576){display: block !important;}
        @include media-breakpoint-down(992){display: block !important;}
        .banner-content{
            z-index: 10;
            font-size: 76px;
            @include media-breakpoint-down(1200){font-size: 60px;}
            @include media-breakpoint-down(576){font-size: 45px;}
            p{
                line-height: 1;
                span{
                    color: $red !important;
                }
            }
            
        }
        .btn-section{
            padding-bottom: 45px;
            @include media-breakpoint-down(576){padding-bottom: 15px;}
            @include media-breakpoint-down(992){padding-top:500px;}
            .single-button{
                margin-bottom: 30px;
                &:last-child{margin: 0;}
                a{
                    min-width: 69px;
                    @include media-breakpoint-down(576){
                        min-width: 10px;
                        height: 50px;
                        width: 10px;
                    }
                }
                .single-content{
                    max-width: 90%;
                    padding-left: 30px;
                    @include media-breakpoint-down(1300){padding-left: 15px;}
                    p{
                        margin: 0;
                        line-height: 20px;
                        strong{font-size: 30px;}
                    }
                }
            }
            .red{
                border: 2px solid $red;
                @include media-breakpoint-down(576){background-color: $red;}
                &:hover{background-color: $red;}
            }
            .blue{
                border: 2px solid $blue;
                @include media-breakpoint-down(576){background-color: $blue;}
                &:hover{background-color: $blue;}
            }
            .yellow{
                border: 2px solid $yellow;
                @include media-breakpoint-down(576){background-color: $yellow;}
                &:hover{background-color: $yellow;}
            }
        }
    }
}



.clip-container{
    position: absolute;
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(768){
        padding-left:30px;
        padding-right:30px;
    }
    .clip{
        height: 100%;
        width: 100%;
        .items,
        .item{height: 100%;}
        rect{fill: $lightgrey;}
        svg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 100%;
        }

        div,
        a {
          position: relative;
        }
    }
}

