.doors{
    .full-img{
        height: 100%;
        color: white;
        .banner-text{
            z-index: 10;
            @include media-breakpoint-down(768){
                position: absolute;
                z-index: 10;
                top: 30%;
            }
            h1{
                font-size: 76px;
                font-weight: 700;
                @include media-breakpoint-down(1200){font-size: 60px;}
                @include media-breakpoint-down(576){font-size: 45px;}
            }
            h3{
                font-size: 30px;
                font-weight: 700;
                white-space: nowrap;
                @include media-breakpoint-down(768){white-space: normal;}
                @include media-breakpoint-down(576){font-size: 26px;}
            }
        }
        .banner-img{
            img{padding-top: 120px;}
        }
    }
    .first-content{
        padding-top: 120px;
        padding-bottom: 100px;
        @include media-breakpoint-down(768){
            padding-top: 75px;
            padding-bottom: 60px;
        }
        @include media-breakpoint-down(576){flex-direction: column;}
        .box-left{
            font-size: 16px;
            font-weight: 700;
            @include media-breakpoint-down(576){padding-bottom: 15px;}
        }
        .box-right{
            font-size: 16px;
            font-weight: 400;
        }
    }
    .second-content{
        min-height:180px;
        @include media-breakpoint-down(576){
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
        .boxed-content{
            height: 100%;
            font-size: 30px;
            font-weight: 700;
            z-index: 10;
            @include media-breakpoint-down(992){font-size: 27px;}
            @include media-breakpoint-down(576){
                margin-bottom: 15px;
                font-size: 24px;
            }
        }
        .boxed-btn{
            z-index: 10;
            text-transform: uppercase;
            .btn{
                @include media-breakpoint-down(992){padding: 10px 45px;}
            }
        }
        .overflowed{
            width: 100%;
            position: absolute;
            background-color: white;
            z-index: 1;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                display: block;
                width: 0;
                background-color: $lightgrey;
                @include makeTransition("width", "1.5s", "ease");
            }
        }
        .come-in{
            &::before{
                width: 100% !important;
                @include makeTransition("width", "1.5s", "ease");
            }
        }
        .overflowed-ie{
            width: 100%;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $lightgrey;
            z-index: 1;
        }
    }
    
    
    .product-info{
        padding-top: 140px;
        @include media-breakpoint-up(577){display: flex !important;}
        @include media-breakpoint-down(576){display: none !important;}
        .image,
        .info-select,
        .content-box{
            padding-top: 60px;
            padding-bottom: 120px;
            @include media-breakpoint-down(992){padding-bottom: 60px;}
            @include media-breakpoint-down(768){padding-bottom: 30px;}
        }
        
        .image{
            padding: 0;
            z-index: 20;
            img{
                padding-top: 210px;
            }
            .tablet-select{
                @include media-breakpoint-up(993){display: none !important;}
                @include media-breakpoint-down(992){
                    margin-top: -75px;
                    display: flex;
                }
                .option{
                    padding: 15px;
                    width: 265px;
                    height: 65px;
                    border-bottom: 2px solid black;
                    background-color: white;
                    font-weight: 700;
                    @include media-breakpoint-down(1200){
                        width: 200px;
                        height: 50px;
                    }
                    &:first-child{border-top: 2px solid black;}
                    &:hover{color: white; cursor: pointer;}
                }
                .show{color: white;}
                .option-icon{
                    height: 35px;
                    padding: 0 !important;
                    margin-left: auto;
                }
            }
        }
        .info-select{
            padding-left: 0;
            padding-right: 0;
            margin-left: -45px;
            z-index: 30;
            @include media-breakpoint-up(993){display: block;}
            @include media-breakpoint-down(992){display: none;}
            @include media-breakpoint-down(1200){margin-left: -25px;}
            .option{
                padding: 15px;
                width: 265px;
                height: 65px;
                border-bottom: 2px solid black;
                background-color: white;
                font-weight: 700;
                @include media-breakpoint-down(1200){
                    width: 200px;
                    height: 50px;
                }
                &:first-child{border-top: 2px solid black;}
                &:hover{color: white; cursor: pointer;}
            }
            .show{
                color: white;
            }
            .option-icon{
                height: 45px;
                margin-left: auto;
            }
        }
        .content-box{
            padding-left: 30px;
            @include media-breakpoint-down(992){padding-top: 0;}
            @include media-breakpoint-down(768){margin-top: -75px;}
            strong{font-weight: 700;}
            .content{
                opacity: 0;
                position: absolute;
                @include makeTransition("all", "0.6s", "ease");
            }
            .come-in{
                opacity: 1;
                position: relative;
                @include makeTransition("all", "0.6s", "ease");
            }
        }
        .box-border{
            position: absolute;
            width: 50%;
            border-left:none;
            left:0;
            height: 630px;
            background-color: transparent;
            @include media-breakpoint-down(1200){height: 530px;}
        }
    }
    
    .mobile-product-info{
        margin-top: 60px;
        margin-bottom: 30px;
        @include media-breakpoint-up(577){display: none !important;}
        @include media-breakpoint-down(576){display: block !important;}
        #accordion{
            .card{
                border: none;
                .card-header{
                    border-bottom: 2px solid black;
                    border-radius: 0;
                    padding: 0;
                    background-color: transparent;
                    &:first-child{border-top: 2px solid black;}
                    &:hover{color: white;}
                    a{
                        width: 100%;
                        padding: 15px 40px;
                    }
                }
                .collapse,
                .collapsing{
                    .card-body{
                        strong{font-weight: 700;}
                    }
                }
            }
        }
    }
    
    
    .product-solution{
        //display: none !important;
        font-size: 16px;
        h2{
            padding: 120px 15px;
            font-size: 72px;
            font-weight: 700;
            @include media-breakpoint-down(1200){
                padding: 90px 15px;
                font-size: 60px;
            }
            @include media-breakpoint-down(922){
                padding: 45px 15px;
                font-size: 45px;
            }
            @include media-breakpoint-down(768){
                padding: 30px 15px;
            }
        }
        .single-solution{
            padding: 60px 15px;
            @include media-breakpoint-down(1200){padding: 30px 15px;}
            .solution-box{
                @include media-breakpoint-down(576){flex-direction: column;}
                h4{
                    font-size: 30px;
                    strong{font-weight: 700;
                    }
                }
                h5{
                    font-size: 16px;
                    strong{font-weight: 600;}
                }
            }
            .box-right{
                .solution-content{
                    opacity: 0;
                    visibility: hidden;
                    transform: translate(100px);
                    //transform: scale(0.3);
                    @include media-breakpoint-down(768){transform: translate(0) scale(0.3);}
                    @include makeTransition("all", "3s", "ease");
                }
                .solution-image img{
                    display: block;
                    margin: auto;
                }
            }
            .box-left{
                .solution-content{
                    opacity: 0;
                    visibility: hidden;
                    transform: translate(-100px);
                    //transform: scale(0.3);
                    @include media-breakpoint-down(768){transform: translate(0) scale(0.3);}
                    @include makeTransition("all", "3s", "ease");
                }
                .solution-image img{
                    display: block;
                    margin: auto;
                }
                @include media-breakpoint-down(576){
                    .solution-content{order: 12;}
                    .solution-image{order: 1;}
                }
            }
        }
        .come-in{
            .box-right{
                .solution-content{
                    opacity: 1 !important;
                    visibility: visible;
                    transform: translate(0);
                    //transform: scale(1);
                    @include media-breakpoint-down(768){transform: translate(0) scale(1);}
                    @include makeTransition("all", "1.5s", "ease");
                }
            }
            .box-left{
                .solution-content{
                    opacity: 1 !important;
                    visibility: visible;
                    transform: translate(0);
                    //transform: scale(1);
                    @include media-breakpoint-down(768){transform: translate(0) scale(1);}
                    @include makeTransition("all", "1.5s", "ease");
                }
            }
        }
    }
    
    
    .product-application{
        margin-top: 60px;
        min-height: 500px;
        .boxed-content{
            padding-top: 45px;
            padding-bottom: 45px;
            height: 100%;
            color: white;
            z-index: 10;
            .title{
                font-size: 30px;
                font-weight: 700;
                @include media-breakpoint-down(992){
                    text-align: center;
                    padding-bottom: 30px;
                }
            }
            .application-content{
                ul{
                    margin:0;
                    li{
                        position: relative;
                        margin-bottom: 15px;
                        list-style: none;
                        &:last-child{ margin:0;}
                        &::before{
                            content: "";
                            background-color: white;
                            width: 15px;
                            height: 2px;
                            position: absolute;
                            left: -23px;
                            top: 12px;
                        }
                    }
                }
            }
        }
        .overflowed{
            width: 83%;
            position: absolute;
            left: 0;
            z-index: 1;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                display: block;
                width: 0;
                background-color: $red;
                @include makeTransition("width", "1.5s", "ease");
                @include media-breakpoint-down(576){width: 100% !important;}
            }
        }
        .come-in{
            &::before{
                width: 100% !important;
                @include makeTransition("width", "1.5s", "ease");
            }
        }
    }
    .ie-application{
        margin-top: 0px;
        padding-top: 45px;
        padding-bottom: 45px;
        min-height: 500px;
        color: white;
        background-color: $red;
        .title{
            font-size: 30px;
            font-weight: 700;
            @include media-breakpoint-down(992){
                text-align: center;
                padding-bottom: 30px;
            }
        }
        .application-content{
            ul{
                margin:0;
                li{
                    position: relative;
                    margin-bottom: 15px;
                    list-style: none;
                    &:last-child{ margin:0;}
                    &::before{
                        content: "";
                        background-color: white;
                        width: 15px;
                        height: 2px;
                        position: absolute;
                        left: -23px;
                        top: 12px;
                    }
                }
            }
        }
    }
    
    
    
    
    .other-projects{
        h3{
            padding-top: 120px;
            padding-bottom: 60px;
            text-align: center;
            font-size: 76px;
            font-weight: 700;
            @include media-breakpoint-down(1200){font-size: 60px;}
            @include media-breakpoint-down(992){
                padding-top: 90px;
                padding-bottom: 45px;
            }
            @include media-breakpoint-down(576){
                padding: 45px 30px;
                font-size: 45px;
            }
        }
        .projects-list{
            background-color: $lightgrey;
            position: relative;
            .container{
                @include media-breakpoint-down(576){padding: 0;}
            }
            .mobile-box{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                a{
                    display: none;
                    @include media-breakpoint-down(576){
                        padding: 15px 30px;
                        display: block;
                        border: 1px solid white;
                        color: white;
                        font-size: 22px;
                        background-color: transparent;
                        pointer-events: none;
                        z-index: 20;
                    }
                }
            }
            .foogallery{
                padding-top: 70px;
                padding-bottom: 40px;
                @include media-breakpoint-down(576){
                    padding: 0;
                    .fg-item{
                        margin: 0;
                        width: 100%;
                        height: auto;
                        .fg-item-inner{
                            width: 100% !important;
                            .fg-thumb{
                                width: 100%;
                                .fg-image{
                                    position: relative;
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
            .fg-item{
                height: 245px;
                width: 245px;
                overflow: hidden;
                margin-right: 30px;
                margin-bottom: 30px;
                @include media-breakpoint-down(768){
                    height: 200px;
                    width: 200px;
                }
                @include media-breakpoint-down(576){
                    display: none;
                    &:first-child{
                        display: block;
                        margin: auto;
                    } 
                }
            }
        }
        .projects-list::before{
            @include media-breakpoint-down(576){
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 10;
                content: "";
                pointer-events: none;
            }
        }
    }
}







/* scelta del colore*/
.red{
    .full-img{background-color: $red;}
    .first-content{
        .box-left{
            color: $red;
        }
    }
    .boxed-content{color: $red;}
    .boxed-btn{
        .btn{
            color: $red;
            border: 2px solid $red;
            &:hover,
            &:active,
            &:focus{
                background-color: $red;
                color: white;
            }
        }
    }
    .info-select{
        .option{
            &:hover{background-color: $red;}
        }
        .show{background-color: $red !important;}
    }
    .image{
        .tablet-select{
            .option{
                &:hover{background-color: $red;}
            }
            .show{background-color: $red !important;}
        }
    }
    .box-border{border: 3px solid $red;}
    #accordion{
        .card{
            .card-header{
                &:hover{background-color: $red;}
            }
        }
    }
    .product-application{
        background-color: transparent;
        .overflowed{
            &::before{background-color: $red;}
        }
    }
}
.blue{
    .full-img{background-color: $blue;}
    .first-content{
        .box-left{
            color: $blue;
        }
    }
    .boxed-content{color: $blue;}
    .boxed-btn{
        .btn{
            color: $blue;
            border: 2px solid $blue;
            &:hover,
            &:active,
            &:focus{
                background-color: $blue;
                color: white;
            }
        }
    }
    .info-select{
        .option{
            &:hover{background-color: $blue;}
        }
        .show{background-color: $blue !important;}
    }
    .image{
        .tablet-select{
            .option{
                &:hover{background-color: $blue;}
            }
            .show{background-color: $blue !important;}
        }
    }
    .box-border{border: 3px solid $blue;}
    #accordion{
        .card{
            .card-header{
                &:hover{background-color: $blue;}
            }
        }
    }
    .product-application{
        background-color: transparent;
        .overflowed{
            &::before{background-color: $blue;}
        }
    }
}
.yellow{
    .full-img{background-color: $yellow;}
    .first-content{
        .box-left{
            color: $yellow;
        }
    }
    .boxed-content{color: $yellow;}
    .boxed-btn{
        .btn{
            color: $yellow;
            border: 2px solid $yellow;
            &:hover,
            &:active,
            &:focus{
                background-color: $yellow;
                color: white;
            }
        }
    }
    .info-select{
        .option{
            &:hover{background-color: $yellow;}
        }
        .show{background-color: $yellow !important;}
    }
    .image{
        .tablet-select{
            .option{
                &:hover{background-color: $yellow;}
            }
            .show{background-color: $yellow !important;}
        }
    }
    .box-border{border: 3px solid $yellow;}
    #accordion{
        .card{
            .card-header{
                &:hover{background-color: $yellow;}
            }
        }
    }
    .product-application{
        background-color: transparent;
        .overflowed{
            &::before{background-color: $yellow;}
        }
    }
}


.scroll{
    position: absolute;
    z-index: 60;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: black;
}



.fbx-modal {
    .fbx-loader {}
    .fbx-inner {
        border:none;
        background-color:black;
        .fbx-stage {
            .fbx-item-text{}
            .fbx-item-current{}
            .fbx-caption{display: none;}
        }
        .fbx-prev::before,
        .fbx-next::before {
            font-family: "custom-arrows";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 40px;
        }
        .fbx-prev {
            background-color:transparent !important;
            box-shadow:none !important;
            left:-50px;
            &::before {
                color:white !important;
                content: '\e800';
                @include media-breakpoint-down(400) {position: relative;top: 150px;}
                @include media-breakpoint-between(401,500) {position: relative;top: 100px;}
                @include media-breakpoint-between(500,640) {position: relative;top: 40px;}
            }
        }
        .fbx-next {
            background-color:transparent !important;
            box-shadow:none !important;
            &::before {
                color:white !important;
                content: '\e803';
                @include media-breakpoint-down(400) {position: relative;top: 150px;}
                @include media-breakpoint-between(401,500) {position: relative;top: 100px;}
                @include media-breakpoint-between(500,640) {position: relative;top: 40px;}
            }
        }
        .fbx-close {
            background-image: url(../img/close-white.png);
            background-color: transparent !important;
            border:none !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            height:22px !important;
            width:22px !important;
            &:before {content:"";}
        }
        .fbx-open{}
    }
}


.foogallery.fg-caption-hover.fg-hover-fade .fg-loaded .fg-item-inner:hover .fg-caption, .foogallery.fg-hover-fade .fg-loaded .fg-item-inner:hover .fg-thumb::before{
    opacity: 0 !important;
}

.fg-item-inner{
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    .fg-thumb{
        margin: auto;
        height: 0;
        width: 0;
        @include makeTransition("all", "0.5s", "ease");
    }
    .show{
        height: 100%;
        width: 100%;
        @include makeTransition("all", "0.5s", "ease");
    }
}


.fg-item{
    @include media-breakpoint-up(576){
        &:hover{
            .hover{
                i{
                    opacity: 1;
                    @include makeTransition("all", "0.5s", "ease");
                }
                div{
                    opacity: 1;
                    @include makeTransition("all", "0.5s", "ease");
                }
            }
        }
        .hover{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            i{
                font-size: 30px;
                color: white;
                z-index: 30;
                opacity: 0;
                pointer-events: none;
                @include makeTransition("all", "0.5s", "ease");
            }
            div{
                background-color: $red;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 20;
                mix-blend-mode: multiply;
                opacity: 0;
                pointer-events: none;
                @include makeTransition("all", "0.5s", "ease");
            }
        }
    }
}



.red{
    .hover div{background-color: $red;}
}
.yellow{
    .hover div{background-color: $yellow;}
}
.blue{
    .hover div{background-color: $blue;}
}




.fbx-caption{display: block !important;}



.fbx-prev{
    @include media-breakpoint-down(640){
        position: absolute !important;
        top: initial !important;
        bottom: 0 !important;
        &:before{
            position: inherit !important;
            display: block !important;
            text-align: left !important;
            top: 45px !important;
            left: -10px !important;
        }
    }
}

.fbx-next{
    @include media-breakpoint-down(640){
        position: absolute !important;
        top: initial !important;
        bottom: 0 !important;
        right: 0 !important;
        &:before{
            position: inherit !important;
            display: block !important;
            text-align: right !important;
            top: 45px !important;
            right: -10px !important;
        }
    }
}

.fbx-close{
    @include media-breakpoint-down(640){
        position: absolute !important;
        top: -30px !important;
        left: 90% !important;
    }
}