.company{
    .full-img{
        .container{height: 100%;}
        .banner-text{
            z-index: 10;
            margin-top: -90px;
            @include media-breakpoint-down(768){
                position: absolute;
                z-index: 10;
                top: 30%;
                right: 0;
            }
            @media (max-height: 600px) {top: 40%;}
            h1{
                font-size: 76px;
                font-weight: 700;
                @include media-breakpoint-down(1200){font-size: 60px;}
                @include media-breakpoint-down(576){font-size: 45px;}
            }
            h3{
                font-size: 30px;
                font-weight: 700;
                white-space: nowrap;
                @include media-breakpoint-down(576){
                    font-size: 26px;
                    white-space: normal;
                }
            }
        }
        .colored{
            position: absolute;
            background-color: $lightgrey;
            width: 100%;
            height: 40%;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    
    .first-content{
        padding-top: 120px;
        padding-bottom: 100px;
        @include media-breakpoint-down(768){
            padding-top: 75px;
            padding-bottom: 60px;
        }
        @include media-breakpoint-down(576){flex-direction: column;}
        .box-left{
            font-size: 30px;
            font-weight: 700;
            color: $red;
            @include media-breakpoint-down(992){font-size: 26px;}
            @include media-breakpoint-down(768){font-size: 22px;}
            @include media-breakpoint-down(576){padding-bottom: 15px;}
        }
        .box-right{
            font-size: 16px;
            font-weight: 400;
            strong{font-weight: 700;}
        }
    }
    
    .second-section{
        .second-content{
            background-color: transparent;
            @include media-breakpoint-down(768){
                flex-direction: column;
                justify-content: center;
            }
            .boxed-content{
                padding-top: 45px;
                padding-bottom: 45px;
                height: 100%;
                font-size: 18px;
                font-weight: 700;
                color: transparent;
                z-index: 10;
                @include media-breakpoint-down(576){
                    padding-top: 30px;
                    padding-bottom: 30px;
                    font-size: 18px;
                }
                @include makeTransition("color", "2s", "ease");
            }
            .bordered{
                color: white !important;
                @include makeTransition("color", "2s", "ease");
            }
            .boxed-btn{
                z-index: 10;
                text-transform: uppercase;
                @include media-breakpoint-down(992){
                    margin-left: -24px;
                }
                @include media-breakpoint-down(768){
                    padding-bottom: 30px;
                    margin: 0;
                }
                .btn{
                    margin-right: -70px;
                    border: 2px solid white;
                    color: white;
                    @include media-breakpoint-down(1200){margin-right: 0;}
                    @include media-breakpoint-down(992){
                        padding: 10px 10px;
                        font-size: 16px;
                        width: auto;
                        white-space: normal;
                        margin-left: 60px;
                    }
                    @include media-breakpoint-down(768){
                        margin: 0;
                    }
                    &:hover{
                        background-color: white;
                        color: $red;
                    }
                }
            }
            .overflowed{
                width: 100%;
                position: absolute;
                background-color: transparent;
                z-index: 1;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    display: block;
                    width: 0;
                    background-color: $red;
                    @include makeTransition("width", "1.5s", "ease");
                }
            }
            .come-in{
                &::before{
                    width: 100% !important;
                    @include makeTransition("width", "1.5s", "ease");
                }
            }
        }
        .last-content{
            margin-top: -240px;
            padding: 0 90px 90px 90px;
            border: 3px solid black;
            @include media-breakpoint-down(992){
                margin-top: -260px;
                padding: 0 60px 60px 60px; 
            }
            @include media-breakpoint-down(767){
                margin-top: -350px;
                padding: 0 45px 45px 45px;
            }
            strong{font-weight: 700;}
        }
    }
    
    .other-models{
        padding-bottom: 150px;
        @include media-breakpoint-down(992){padding-bottom: 60px;}
        @include media-breakpoint-down(768){padding-bottom: 30px;}
        @include media-breakpoint-down(576){padding-bottom: 0;}
        .other-title{
            padding: 210px 45px 120px 45px;
            text-align: center;
            font-size: 76px;
            font-weight: 700;
            @include media-breakpoint-down(1200){
                padding: 210px 15px 120px 15px;
                font-size: 60px;
            }
            @include media-breakpoint-down(992){padding: 210px 45px 120px 45px;}
            @include media-breakpoint-down(768){padding: 150px 15px 90px 15px;}
            @include media-breakpoint-down(576){font-size: 45px;}
        }
        img{
            width: 100%;
            display: block;
        }
        .btn-black{
            margin-top: 55px;
            @include media-breakpoint-down(768){
                margin-top: 30px;
                margin-bottom: 60px;
            }
        }
    }
}



.normal-image{
    @include media-breakpoint-down(768){opacity: 0;}
    &:hover{opacity: 0;}
}



.hover-image{
    @include media-breakpoint-down(768){opacity: 1;}
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    pointer-events: all;
    &:hover{opacity: 1;}
}