.press{
    padding: 120px 15px 160px 15px;
    background-color: $lightgrey;
    @include media-breakpoint-down(992){padding: 90px 15px 120px 15px;}
    @include media-breakpoint-down(768){padding: 75px 15px 90px 15px;}
    @include media-breakpoint-down(576){padding: 60px 15px 75px 15px;}
    h1{
        padding-bottom: 90px;
        font-size: 76px;
        font-weight: 700;
        @include media-breakpoint-down(1200){font-size: 60px;}
        @include media-breakpoint-down(992){padding-bottom: 60px;}
        @include media-breakpoint-down(576){font-size: 45px;}
    }
    .single-document{
        padding-top:30px;
        padding-bottom:30px;
        border-top: 2px solid black;
        &:last-child{border-bottom: 2px solid black;}
        .box-left{
            padding: 0;
            @include media-breakpoint-down(576){
                margin-bottom: 15px;
                justify-content: center !important;
            }
            i{
                margin-right: 7.5px;
                color: $red;
            }
            h3{
                margin: 0;
                display: inline-block;
                font-weight: 700;
            }
        }
        .box-right{
            padding: 0;
            @include media-breakpoint-down(576){justify-content: center !important;}
            a{
                border: 2px solid black;
                @include media-breakpoint-down(768){padding: 10px 30px;}
                @include media-breakpoint-down(768){padding: 7px 20px;}
                &:hover,
                &:active,
                &:focus{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}