.landing-box{
    padding-top: 150px;
    padding-bottom: 75px;
    background-color: $lightgrey;
    @include media-breakpoint-down(768){padding-top: 60px;}
    .no-gutters{
        @include media-breakpoint-down(576){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .landing-text{
        padding: 0;
        padding-right: 30px;
        h1{
            padding-bottom: 15px;
            font-size: 40px; 
            font-weight: 700;
            @include media-breakpoint-down(992){font-size: 35px;}
        }
        i{
            font-size: 18px;
            margin-right: 2px;
        }
        a{
            &:hover,
            &:active,
            &:focus{
                color: black;
                text-decoration: underline;
            }
        }
    }
    .landing-form{
        h3{
            margin-bottom: 45px;
            font-size: 30px;
            font-weight: 700;
            @include media-breakpoint-down(576){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .form-container{
            @include media-breakpoint-down(576){
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        label{
            color: $grey;
            font-size: 12px;
        }
        .form-control{
            border-radius: 0;
            padding: 15px;
            background-color: $lightgrey;
            border: 1px solid $grey;
            &:focus,
            &:active{
                background-color: white;
                box-shadow: none;
            }
        }
        p{margin: 0;}
        .checkbox{
            padding: 7px 0 15px 0;
            .wpcf7-list-item{margin: 0;}
        }
        .btn-box{
            padding: 0;
            .btn-send{
                border: 2px solid black;
                width: 100%;
                &:hover,
                &:active,
                &:focus{
                    background-color: black;
                    color: white;
                }
            }
        }
        .col-message,
        .col-submit{
            padding: 0;
        }


        .wpcf7-list-item{
            input{
                display: inline-block;
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
            span{
                padding-left: 22px;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -32px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 15px;
                    height: 15px;
                    font-weight: 300;
                    margin: 0;
                    border: 1px solid #020202;
                    border-radius: 0;
                    cursor: pointer;
                    @include media-breakpoint-down(465){top: -49px;}
                    @include media-breakpoint-down(371){top: -67px;}
                    @include media-breakpoint-down(307){top: -85px;}

                }
                &::after{
                    position: absolute;
                    top: -29px;
                    right: 0px;
                    bottom: 0px;
                    left: 3px;
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    background-color: transparent;
                    cursor: pointer;
                    @include media-breakpoint-down(465){top: -46px;}
                    @include media-breakpoint-down(371){top: -64px;}
                    @include media-breakpoint-down(307){top: -82px;}
                }
            }
        }
    }
}

.form-container .checkbox .wpcf7-list-item input:checked ~ .wpcf7-list-item-label::after {
    background-color: $red;
}

